.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  overflow: hidden;
  border-radius: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.solutions{
  margin-top: 30px;
}

h1,h2,h3,h4{
  margin-top: 5px;
  margin-bottom: 5px;
}

h2{
  opacity: .7;
}
h3{
  opacity: .5;
}
h4{
  opacity: .2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
