

.all-solutions{
    margin-top: 55px;
    position: relative;
    min-width: 100vw;
    text-align: center;
    z-index: 1;
    
    .up, .down{
        background: transparent;
        border: none;
        display: block;
        width: 100%;
        height: 15em;
        top: 0px;
        z-index: 10;
        position: relative;
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>➖</text></svg>")
        16 16,
        auto;
    }

    .down{
        bottom: 0px;
        margin-top: 5em;
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>➕</text></svg>")
        16 16,
        auto;
    }

    .solution{
        z-index: 2;
        min-width: 100vw;
        text-align: center;
        display: none;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: bold;
        position: absolute;
        opacity: 0;
        transition: top .5s, opacity .5s, font-size .5s;

        &.solution-0,
        &.solution--1,
        &.solution--2,
        &.solution--3,
        &.solution-1,
        &.solution-2,
        &.solution-3{
            display: block;
        }

        &.solution--3{
            top: 1em;
            font-size: 1em;
            opacity: .2;
        }

        &.solution--2{
            font-size: 1.17em;
            opacity: .5;
            top: 2em;
        }

        &.solution--1{
            font-size: 1.5em;
            opacity: .7;
            top: 2.75em;
        }    

        &.solution-0{
            font-size: 2em;
            top: 3em;
            opacity: 1;
        }
        
        &.solution-1{
            font-size: 1.5em;
            opacity: .7;
            top: 6em;
        }
        
        &.solution-2{
            font-size: 1.17em;
            opacity: .5;
            top: 9.75em;
        }

        &.solution-3{
            top: 13.5em;
            font-size: 1em;
            opacity: .2;
        }

    }
}